body {
    background-color: #ECC7D2;
    color: #555555;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-width: 700px;
    max-width: 1000px;
    background-color: #FFFFFF;
}
header {
    background-color: #9F3857;
    color: #FFFFFF;
    text-align: center;
    line-height: 550%;
    background-image: url(lovebook.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px 100px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    background-color: #ADAEC8;
    font-weight: bold;
    height: 40px;
    padding-bottom: 1.35em;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 0;
}

nav li {
    display: inline-block;
    padding: 1em;
    font-size: 20px; 
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1em;
}

nav a:hover {
    background-color: #38397C;
    color: #FFFFFF;
}

.active {
    background-color: #38397C;
    color: #FFFFFF;
}

main {
    padding: 2px 25px 3px 25px
}

h1 {
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.1em;
}

h2 {
    color: #535490;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px #535490;
    text-align: center;
    font-size: 2em;
}

h3 {
    color: #535490;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

h4 {
    color: #535490;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
}

 ul {
    list-style-type: circle;
 }

 aside {
    font-size: large;
    font-style: italic;
    text-align: center;
    clear: right;
 }

 footer {
    font-size: 80%;
    font-style: italic;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #9F3857;
    color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
 }

 footer a {
    color: #FFFFFF;
 }

 img {
    float: right;
    height: 400px;
    width: 280px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
 }

 #homebook {
    background-image: url(pinkrosehomebook.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 #aboutbook {
    background-image: url(heartbookabout.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 #lastbook {
    background-image: url(heartballoonlast.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 #nowbook {
    background-image: url(heartstacknow.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 #favebook {
    background-image: url(flowerfavorite.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 #tbrbook {
    background-image: url(heartbooktbr.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 #pollbook {
    background-image: url(forestbookpick.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 .pinkb {
    color: #CF8299;
    font-weight: bold;
 }

 .yellowlink a {
    background-color: #E7D292;
    color: #38397C;
    font-weight: bold;
 }

 .yellowlink a:hover {
    background-color: #38397C;
    color: #E7D292;
    font-weight: bold;
 }

 .italic {
    font-style: italic;
 }

video {
    float: right;
    padding-left: 2px;
    padding-bottom: 61px;
}

table {
    border: 2px solid #9F3857;
    box-shadow: 1px 1px #9F3857;
    border-collapse: collapse;
    margin-left: 2em;
}

caption {
    font-weight: bold;
}

th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9F3857;
    padding: 0.5em;
    border: 2px solid #38397C;
}

td {
    border: 2px solid #38397C;
    padding: 0.5em;
    text-align: center;
    color:#38397C;
}

td > a {
    background-color: #E7D292;
    color: #38397C;
    font-weight: bold;
}

td > a:hover {
    background-color: #38397C;
    color: #E7D292;
    font-weight: bold;
}

tr:nth-of-type(even) {
    background-color: #ECC7D2;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid #9F3857;
    background-color: #ECC7D2;
    width: 75%;
    margin: auto;
}

input {
    margin-bottom: 0.5em;
}

input[type=text] {
    width: 75%;
    margin: auto;
    border: 2px solid #9F3857;
}

textarea {
    margin-bottom: 0.5em;
    width: 75%;
    margin: auto;
    border: 2px solid #9F3857;
}

select {
    width: 75%;
    margin: auto;
    border: 2px solid #9F3857;
}

label {
    color: #38397C;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.15em;
}

input[type=submit] {
    background-color: #38397C;
    color: #FFFFFF;
    width: 25%;
    height: 2em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

input[type=submit]:hover {
    background-color: #E7D292;
    color: #38397C;
    cursor: pointer;
    width: 25%;
    height: 2em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}